# === Ansible Secrets ===
vault.yml
vault.yaml
secrets.yml
secrets.yaml

# === Debugging playbooks that might have sensitive info in them ===
debug_playbook.yml
debug_playbook.yaml

# === Intellectual Property that should not be committed
solr/
moodle/

# Small Sassy Vagrant Envs I don't want to commit to GitHub
bash_dev/
perl_dev/
fortran_dev/
rust_dev/
c_dev/
cpp_dev/
docker_dev/

# === emacs generated backup files ===
*~

# === Miscellaneous items ===
.env
.env.local

# === vagrant artifacts ===
.vagrant/

# === Log files
*.log
